html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 12px; */
  padding: 18px 0;
}

.right-links {
  list-style-type: none;
  display: flex;
  gap: 18px;
  justify-content: flex-end;
}

.container-content-header {
  display: flex;
  justify-content: center;
  padding: 60px;
  gap: 36px;
}

.content-header {
  max-width:600px;
}

.content-header p {
  font-size: 18px;
  color: #e5e7eb;
}

.btn-header {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;

}

.content-image img {
  max-width: 450px;
  max-height: auto;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 48px;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
